@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
    font-size: 14;
    font-family: 'Noto Sans', sans-serif;
}
.wrapper{
    width: 960px;
    margin: auto;
}
.header{
    display: grid;
    grid-template-columns: 125px 1fr 1fr 1fr;
    grid-template-rows: 150px;
    border-bottom: thick double greenyellow;
}
.weblogo{
    grid-column: 1;
    margin: 20px 20px 20px 5px;
    height:100px;
    width: 100px;
}
.titlearea{
    display: grid;
    grid-template-rows: 60px 90px;
}    
.title{
    grid-row:1;
    font-size: 32px;
    color: #2a292b;
    font-weight: 600;
}
.phrase{
    font-size: 24px;
    color: #34db28;
    font-weight: 400;
    padding-left: 30px;
    min-width: 270px;
}
/****** HAMBURGER****************/
.hamburger{
    grid-column: 4;
    cursor: pointer;
    margin-top: 75px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.is-active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.is-active .bar2 {opacity: 0;}
.is-active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
@media screen and (max-width: 700px) {
    .hamburger{
        grid-column: 3;
        padding-left:10px;
    }
}
/*******SLIDING MENU ***************/
.menu{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 168px;
    width: 100%;
    max-width: 890px;
    height:0;
    overflow-y: auto;
    transition: width 0.3s ease;
    white-space: nowrap;
    list-style-type: none;
}
.menu.open {
    border-bottom: 1px solid #666;
    background: rgb(59, 93, 145);
    color: white;
    padding: 34px;
}
.menuitem{
   padding-right: 100px;
}

/* MAIN CONTENT */
.backgroundimage{
    margin-top: 5px;
    width: 100%;
    max-width: 960px;
    height: auto;
}
